{% extends 'administrator/admin.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
        <h2>Ավելացնել Խումբ</h2>
    </div>
    <div class="clearfix"></div>
    <br>
    <div id="respond" class="container">
        <form action="" method="post">{% csrf_token %}
          <p>
            {{ form.name }}
            <label for="id_name"><small>Անուն (Պարտադիր*)</small></label>
          </p>
          <p>
              {{ form.profession }}
            <label for="id_profession"><small>Մասնագիտություն (Պարտադիր*)</small></label>
          </p>
          <p>
              {{ form.lecturers }}
            <label for="id_lecturers"><small>Պարապող Դասախոսներ (Պարտադիր*)</small></label>
          </p>
          <p>
            {{ form.created }}
            <label for="id_created"><small>Ստեղծվել է (Պարտադիր*)</small></label>
          </p>
          <p>
            <input name="submit" type="submit" id="submit" value="Պահպանել">
            &nbsp;
            <input name="reset" type="reset" id="reset" tabindex="5" value="Reset Form">
          </p>
        </form>
    </div>
{% endblock %}