{% extends 'administrator/admin.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
        <h2>Ավելացնել մասնագիտություն</h2>
    </div>
    <div class="clearfix"></div>
    <br>
    <div id="respond" class="container">
        <form action="" method="post">{% csrf_token %}
          <p>
            <input type="text" name="firstname" id="name" value="{{ profession.name }}" size="22">
            <label for="name"><small>Անուն (Պարտադիր*)</small></label>
          </p>
          <p>
            <select name="fakultet" id="id_fakultet">
                {% for fakultet in fakultets %}
                <option value="{{ fakultet.id }}" {% if fakultet.id == profession.fakultet.id %}selected{% endif %}>{{ fakultet }}</option>
                {% endfor %}
            </select>
            <label for="id_fakultet"><small>Ֆակուլտետ (Պարտադիր*)</small></label>
          </p>
          <p>
            <input type="number" name="years" id="id_years" value="{{ profession.years }}" size="2">
            <label for="id_years"><small>Ժամկետ (Պարտադիր*)</small></label>
          </p>
          <p>
            <select name="subject" id="id_subject" multiple>
                {% for subject in subjects %}
                <option value="{{ subject.id }}" {% if subject.id == profession.subject.id %}selected{% endif %}>{{ subject }}</option>
                {% endfor %}
            </select>
            <label for="id_subject"><small>Առարկա (Պարտադիր*)</small></label>
          </p>
          <p>
            <input type="checkbox" name="heraka" id="id_heraka" {% if profession.heraka %}checked{% endif %}>
            <label for="id_heraka"><small>Հեռակա (Պարտադիր*)</small></label>
          </p>
          <p>
            <input name="submit" type="submit" id="submit" value="Submit Form">
            &nbsp;
            <input name="reset" type="reset" id="reset" tabindex="5" value="Reset Form">
          </p>
        </form>
    </div>
{% endblock %}