{% extends 'administrator/admin.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="container">
    <h2>Ամբիոնների ցանկ</h2>
        <br>
      <table summary="Summary Here" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th>No:</th>
            <th>Անուն (Հապավում)</th>
            <th>Վարիչ</th>
            <th>Դասախոսներ</th>
          </tr>
        </thead>
        <tbody>
        {% for ambion in ambions %}
            <tr class="{% if forloop.counter0|divisibleby:2 %}light{% else %}dark{% endif %}">
                <td>{{ forloop.counter }}. <input type="checkbox" name="items" value="{{ ambion.id }}"></td>
                <td>{{ ambion.name }} ({{ ambion.shortname }})</td>
                <td>{{ ambion.varich.fullname }}</td>
                <td>
                    <select name="teachers">
                        {% for teacher in ambion.teachers.all %}
                            <option value="{{ teacher.id }}">{{ teacher.fullname }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}