{% extends 'administrator/admin.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="container">
    <h2>Մատյան</h2>
        <br>
      <table summary="Summary Here" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th>No:</th>
            <th>Ուսանող</th>
            <th>Խումբ</th>
            <th>Բացակայվել է՝</th>
            <th>Ամսաթիվ</th>
          </tr>
        </thead>
        <tbody>
        {% for matyan in matyans %}
            <tr class="{% if forloop.counter0|divisibleby:2 %}light{% else %}dark{% endif %}">
                <td>{{ forloop.counter }}. <input type="checkbox" name="items" value="{{ matyan.id }}"></td>
                <td>{{ matyan.student.firstName }} {{ matyan.student.lastName }}</td>
                <td>{{ matyan.group.name }}</td>
                <td>{{ matyan.minute }}</td>
                <td>{{ matyan.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}